:root{
  --background-color:rgb(65, 65, 65);
  --width: 20px
}


* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--background-color);
  height: 400vh;
}
.scroll{
  background-color: pink;
  width: var(--width);
  height: 30px;
}
.mouse-follower{
  width: 10px;
  height: 10px;
  background-color: orange;
}
.fixed-elements{
  position: fixed;
}